{% load website_tags %}
<!DOCTYPE HTML>
<html>

<head>
    {% include "meta.html" %}
    {% include "css.html" %}    
    {% include "js.html" %}
</head>

<body style="overflow-x: hidden;">
<div class="container">
    {% include "on_test.html" %}
    {% include "logo.html" %}
    {% include "header_date_and_search.html" %}
    {% include "navigation.html" %}
    {% get_breaking_news %}
    {% get_headlines %}
    {% block content %} {% endblock content %}
    {% include "footer.html" %}
</div>

</body>
</html>