<div class="container-fluid">
    <div class="row">
        <div class="alert fade in">
            <div class="breaking-news" id="breaking-news" style="display: none;">
                <ul>
                    <li>
                        <a href="http://localhost/project_zip/bdnews/index.php/front/detail/85">ইউক্রেনে রুশ পদক্ষেপে ওবামার উদ্বেগ</a>
                    </li>
                    <li>
                        <a href="http://localhost/project_zip/bdnews/index.php/front/detail/87">অবরোধ নিয়ে যুক্তরাষ্ট্রকে সতর্ক করল রাশিয়া</a>
                    </li>
                    <li>
                        <a href="http://localhost/project_zip/bdnews/index.php/front/detail/101">আবার পাশা খেলার ঘুঁটি ইউক্রেন?</a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
        </div>
    </div>
</div>
