<link rel="shortcut icon" href="http://localhost/bdnews/assets/front/images/favicon.jpg" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"
/>

<!--Font Icon-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"
/>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.0/flexslider-min.css" rel="stylesheet" type="text/css"
/>

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet"
    type="text/css" />

<!--base css-->
<link rel='stylesheet' href="/static/css/styles.css" />
<link rel='stylesheet' href="/static/css/custom.css" />
