<div class="container-fluid">
        <div class="row title">
            <div class="col-md-6 ">
                <div class="title1">আমাদের যা যা আয়োজন..</div>
            </div>
            <div class="col-md-6">
                <div class="title-adprice">
                    <a href="http://localhost/project_zip/bdnews/index.php/front/page/callforad">বিজ্ঞাপন মূল্য</a>
                </div>
            </div>
        </div>

        <div class="row" id="footer">
            <div class="footer_menu">
                <ul id="24" class="l_tinynav2">
                    <li class="menu_color_ active selected">
                        <a class="static  active" href="http://localhost/project_zip/bdnews/index.php/front/category/jatio">জাতীয়</a>
                    </li>
                    <li class="menu_color_">
                        <a class="static archive" href="http://localhost/project_zip/bdnews/index.php/front/category/rajniti">রাজনীতি</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/orthoniti">অর্থনীতি</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/antarjatik">আন্তর্জাতিক</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/kheladhula">খেলাধুলা</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/binodon">বিনোদন</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/shikkhangan">শিক্ষাঙ্গন</a>
                    </li>
                    <li class="menu_color_">
                        <a class="static" href="http://localhost/project_zip/bdnews/index.php/front/category/biggan">বিজ্ঞান</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/life_style">লাইফ স্টাইল</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/bdtouch_blog">বন্ধন ব্লগ</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/shasto">স্বাস্থ্য</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/probash">প্রবাস</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/durghatana">দুর্ঘটনা</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/oporadh">অপরাধ</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/adalat">আদালত</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/shompadokio">সম্পাদকীয়</a>
                    </li>
                </ul>
                <ul>

                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/media">মিডিয়া</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/vromon">ভ্রমন</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/nari_o_shishu">নারী ও শিশু</a>
                    </li>
                    <!--<li class="menu_color_"><a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/xxx">ধর্ম</a></li>-->
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/rannaghar">রান্নাঘর</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/jibon_sangram">জীবন সংগ্রাম</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/rohosshomoi_prithibi">রহস্যময় পৃথিবী</a>
                    </li>
                    <li class="menu_color_">
                        <a class="dynamic" href="http://localhost/project_zip/bdnews/index.php/front/category/bdtouch_special">বিডিটাচ স্পেশাল</a>
                    </li>
                </ul>
            </div>
            <div class="break"></div>
            <div class="border-grey"></div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <a href="http://localhost/project_zip/bdnews/">
                    <img src="http://localhost/project_zip/bdnews/assets/front/images/touch-bottom.jpg" title="bdtouchnews" style="width:770px;"
                        class="img-responsive">
                </a>
            </div>
            <div class="col-md-4" style="margin-top: 25px;">
                <div class="footer-text">
                    <h6> প্রধান সম্পাদকঃ আলী হাসান</h6>
                    <h6> প্রধান নির্বাহী কর্মকর্তাঃ এস.এম.শামীম সুলতান</h6>
                    <h6> ব্যবস্থাপনা সম্পাদকঃ ফজলে রাব্বী</h6>
                    <h6> ব্যুরো প্রধানঃ আল মাসুম</h6>
                </div>
            </div>
        </div>

        <div class="visible-lg">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-contact">
                        <p align="center">
                            <b>বার্তা ও বাণিজ্যিক কার্যালয়ঃ</b> স্যুট- ৫/ই, এ এইচ টাওয়ার (৫ম তলা), রোড-২, সেক্টর-৩, উত্তরা,
                            ঢাকা-১২৩০।
                        </p>
                        <p align="center">
                            <b>ফোনঃ</b> +৮৮ ০১৬৭৯-৮৮৬-৬৬৮
                            <b>ইমেইলঃ</b> bdtouchnews@gmail.com, news@bdtouchnews.com</p>
                        <p align="center">Copyright &copy; 2014 bdtouchnews.com Developed by i.Gen Software Ltd.</p>

                        <!--যোগাযোগঃ bdtouchnews@gmail.com,&nbsp;&nbsp;news@bdtouchnews.com,&nbsp;&nbsp;info@bdtouchnews.com,&nbsp;&nbsp;add@bdtouchnews.com<span class="footer-phone-contact">ফোনঃ&nbsp;01679886668</span>-->
                        <!--<div class="footer-dev-contact">Website Developed by <a href="#">BDMADE</a></div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-lg">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-contact">
                        যোগাযোগঃ bdtouchnews@gmail.com
                        <br/>
                        <br/> news@bdtouchnews.com
                        <br/>
                        <br/> info@bdtouchnews.com
                        <br/>
                        <br/> add@bdtouchnews.com
                        <br/>
                        <br/> ফোনঃ&nbsp;01679886668
                        <br/>
                        <br/>
                        <br/> Website Developed by
                        <a href="#">BDMADE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<a class="go-top visible-lg visible-md" href="#"><i class="fa fa-angle-up"></i></a>-->
    <div class="border-green"></div>
    <div class="border-red"></div>
    <div class="border-black"></div>
</div>
