<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>

<!--[if IE 7]>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.1/selectivizr.min.js"></script>
<![endif]-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easy-ticker/2.0.0/jquery.easy-ticker.min.js" type="text/javascript"></script>

<script src="http://localhost/project_zip/bdnews/assets/front/newsticker/js/newsticker.jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.0/jquery.flexslider-min.js" type="text/javascript"></script>

<script src="http://localhost/project_zip/bdnews/assets/front/tooltip/js/Ajaxtooltip.js"></script>

<script type="text/javascript" src="http://localhost/bdnews/assets/vote/js/vote.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('.js-activated').dropdownHover().dropdown();
    });
</script>

<script>
    $(document).ready(function () {
        var sticky_navigation_offset_top = $('#menuMega').offset().top;
        var sticky_navigation = function () {
            var scroll_top = $(window).scrollTop();
            if (scroll_top > sticky_navigation_offset_top) {
                $('#menuMega').css({
                    'position': 'fixed',
                    'top': 0,
                    'left': 0,
                    'padding': '0 0 0 63px',
                    'margin': '0',
                    'color': 'white',
                    'background-color': '#333333',
                    'width': '100%'
                });
            } else {
                $('#menuMega').css({
                    'position': 'relative',
                    'padding': '0px'
                });
            }
        };

        sticky_navigation();

        $(window).scroll(function () {
            sticky_navigation();
        });

        $('a[href="#"]').click(function (event) {
            event.preventDefault();
        });

        $('.js-activated').dropdownHover().dropdown();

    });
</script>

<script type="text/javascript"> // BREAKING NEWS
    $(document).ready(function () {
        var dd = $('.breaking-news').easyTicker({
            direction: 'up',
            easing: 'easeInOutBack',
            speed: 'slow',
            interval: 2000,
            height: 'auto',
            visible: 1,
            mousePause: 0,
            controls: {
                up: '.up',
                down: '.down',
                toggle: '.toggle',
                stopText: 'Stop !!!'
            }
        }).data('easyTicker');
    });
</script>

<script type="text/javascript"> /* SHIRONAM */
    (function ($) {
        $(document).ready(function () {
            $('#shironam').newsticker({
                'style': 'reveal',
                'tickerTitle': 'শিরোনাম',
                'letterRevealSpeed': 70,
                'transitionSpeed': 2000,
                'pauseOnHover': false,
                'autoStart': true,
                'showControls': false
            });
        })
    })(jQuery);
</script>

<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails",
            animationLoop: false,
            slideshow: true,
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
    $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: true,
        slideshow: true,
        itemWidth: 210,
        itemMargin: 5,
    });
</script>

<script type="application/javascript"> // TOOLTIP
    $(function () {
        $('.tooltips').tooltipster({
            'animation': 'grow',
            'maxWidth': 350,
            'trigger': 'hover'
        });
    })
</script>

<script>
    $(".rashi").click(function (e) {
        e.preventDefault();
        var href = $(this).attr("href");

        $.ajax({
            type: "POST",
            url: "http://localhost/project_zip/bdnews/index.php/rashifal/get/" + href,
            success: function (result) {
                document.getElementById("rashifal-des").innerHTML = result;
            }
        });
    });
</script>

<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails",
            animationLoop: false,
            slideshow: true,
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
    $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: true,
        slideshow: true,
        itemWidth: 210,
        itemMargin: 5,
    });
</script>


<script>
    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });

    $("#go").click(function (e) {
        e.preventDefault();
        var date = $("#datepicker").datepicker("getDate");
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();

        var date1 = year + '-' + month + '-' + day;
        window.location = "http://localhost/project_zip/bdnews/index.php/front/archive/" + date1;
    });
</script>

<script> // Initially, these DIVs were made invisible and now they are shown at the end after full construction
    $(document).ready(function () {
        $("#breaking-news").show();
        $("#shironam").show();
        $("#money").show();
        $("#tabs3").show();
    });
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b7db94769ec3af"></script>

