<nav class="navbar navbar-default" role="navigation" id="menuMega">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!--<div class="container">-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- This div will collapse on a mobile browser -->
        <ul class="nav navbar-nav">
            <!--No drop downs-->
            <li>
                <a href="http://localhost/project_zip/bdnews/">
                    <i class="fa fa-white fa-home fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/jatio">জাতীয়</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/rajniti">রাজনীতি</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/orthoniti">অর্থনীতি</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/antarjatik">আন্তর্জাতিক</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/kheladhula">খেলাধুলা</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/binodon">বিনোদন</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/shikkhangan">শিক্ষাঙ্গন</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/biggan">বিজ্ঞান</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/life_style">লাইফ স্টাইল</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/category/bdtouch_blog">বন্ধন ব্লগ</a>
            </li>
            <!--No drop downs-->

            <li class="dropdown">
                <!--More (Arou) links drop down-->
                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">আরও
                    <i class="fa fa-white fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-column columns-3 pull-right">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/shasto">স্বাস্থ্য</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/probash">প্রবাস</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/durghatana">দুর্ঘটনা</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/oporadh">অপরাধ</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/vromon">ভ্রমন</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/adalat">আদালত</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/shompadokio">সম্পাদকীয়</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/media">মিডিয়া</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/nari_o_shishu">নারী ও শিশু</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/rannaghar">রান্নাঘর</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/jibon_sangram">জীবন সংগ্রাম</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/rohosshomoi_prithibi">রহস্যময় পৃথিবী</a>
                                </li>
                                <li>
                                    <a href="http://localhost/project_zip/bdnews/index.php/front/category/bdtouch_special">বন্ধন স্পেশাল</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </li>
            <!--More (Arou) links drop down-->

            <li class="dropdown">
                <!--Newspaper links drop down-->
                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">পত্রিকা লিংক&nbsp;
                    <i class="fa fa-white fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu multi-column columns-6 pull-right">
                    <div class="row">
                        <div class="col-sm-2">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://www.bbc.co.uk/bengali" target="_blank">বিবিসি</a>
                                </li>
                                <li>
                                    <a href="http://www.cnn.com" target="_blank">সিএনএন</a>
                                </li>
                                <li>
                                    <a href="http://www.reuters.com" target="_blank">রয়টার্স</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://www.afp.com/afpcom/en" target="_blank">এএফপি</a>
                                </li>
                                <li>
                                    <a href="http://www.voanews.com/bangla/news/" target="_blank">ভোআ</a>
                                </li>
                                <li>
                                    <a href="http://www.dw-world.de/bengali" target="_blank">ডয়েচেভেলে</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://www.banglanews24.com" target="_blank">বাংলানিউজ</a>
                                </li>
                                <li>
                                    <a href="http://www.bd-pratidin.com/" target="_blank">বাংলাদেশ প্রতিদিন</a>
                                </li>
                                <li>
                                    <a href="http://www.amardeshonline.com" target="_blank">আমার দেশ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://www.fairnews24.com" target="_blank">ফেয়ারনিউজ 24</a>
                                </li>
                                <li>
                                    <a href="http://ittefaq.com.bd" target="_blank">ইত্তেফাক</a>
                                </li>
                                <li>
                                    <a href="http://www.samakal.com.bd" target="_blank">সমকাল</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://www.dailyjanakantha.com" target="_blank">জনকণ্ঠ</a>
                                </li>
                                <li>
                                    <a href="http://www.bonikbarta.com/" target="_blank">বণিক বার্তা</a>
                                </li>
                                <li>
                                    <a href="http://www.bhorerkagoj.net" target="_blank">ভোরের কাগজ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <ul class="multi-column-dropdown">
                                <li>
                                    <a href="http://www.dailykalerkantho.com" target="_blank">কালেরকণ্ঠ</a>
                                </li>
                                <li>
                                    <a href="http://www.anandabazar.com/" target="_blank">আনন্দবাজার</a>
                                </li>
                                <li>
                                    <a href="http://www.allbanglanewspaper.com" target="_blank">অন্যান্য</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="row">-->
                </ul>
                <!--<ul class="dropdown-menu multi-column columns-6 pull-right">-->
            </li>
            <!--Newspaper links drop down-->
        </ul>
        <!--<ul class="nav navbar-nav">-->
    </div>
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
</nav>
