<div class="container-fluid">
    <div class="row">
        <ul id="shironam" style="display: none;">
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/detail/147">গণজাগরণ মঞ্চ কর্তৃক জাতীয় পতাকা পদদলিত : ঢাবিতে মানববন্ধন</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/detail/48">নিখোঁজ বিমানের সন্ধান চালিয়েই যাবে চীন</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/detail/143">রফতানি বাড়াতে ব্যবসায়ীদের চ্যালেঞ্জ নিতে হবে : অর্থমন্ত্রী</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/detail/155">গাজায় নিহতের সংখ্যা ১০০ ছাড়িয়েছে</a>
            </li>
            <li>
                <a href="http://localhost/project_zip/bdnews/index.php/front/detail/29">ওয়েঙ্গারকে রোবেনের জবাব</a>
            </li>
        </ul>
    </div>
</div>
