<ul class="nav nav-tabs updown">
    <li class="active">
        <a href="#latest-news" data-toggle="tab">সর্বশেষ</a>
    </li>
    <li>
        <a href="#popular-news" data-toggle="tab">সর্বপঠিত</a>
    </li>
    <li>
        <a href="#ajker-ukti" data-toggle="tab">আজকের উক্তি</a>
    </li>
</ul>

<div class="tab-content" style="border:1px solid #ccc; margin-bottom: 15px;" id="tabs1">
    <div class="tab-pane active fixed-height1" id="latest-news">
        <ul class="tooltip-demo">
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/147' class='tooltips'
                   title='গণজাগরণ মঞ্চ কর্তৃক জাতীয় পতাকা পদদলিত : ঢাবিতে মানববন্ধন print গণজাগরণ মঞ্চ কর্তৃক জাতীয় পতাকা পদদলিত : ঢাবিতে মানববন্ধনঢাবি, ২৭ মার্চ, এবিনিউজ : ‘গণজাগরণ মঞ্চ’ কর্তৃক জাতীয় পতাকা পদদলিত করার প্রতিবাদে...'>গণজাগরণ
                    মঞ্চ কর্তৃক জাতীয় পতাকা পদদলিত : ঢাবিতে মানববন্ধন</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/48' class='tooltips'
                   title='বিন্দু পরিমাণ আশা জিইয়ে থাকা পর্যন্ত মালয়েশিয়ার নিখোঁজ বিমানটির অনুসন্ধান চালিয়ে যাবে বলে জানিয়েছেন চীনের প্রধানমন্ত্রী লি কেকিয়াং। আজ বৃহস্পতিবার চীনের পার্লামেন্টের বার্ষিক অধিবেশন...'>নিখোঁজ
                    বিমানের সন্ধান চালিয়েই যাবে চীন</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/143' class='tooltips'
                   title='রফতানি বাড়াতে ব্যবসায়ীদের চ্যালেঞ্জ নিতে হবে : অর্থমন্ত্রী print রফতানি বাড়াতে ব্যবসায়ীদের চ্যালেঞ্জ নিতে হবে : অর্থমন্ত্রীঢাকা, ২২ মার্চ, এবিনিউজ : অর্থমন্ত্রী আবুল মাল আব্দুল মুহিত আশা প্রকাশ...'>রফতানি
                    বাড়াতে ব্যবসায়ীদের চ্যালেঞ্জ নিতে হবে : অর্থমন্ত্রী</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/155' class='tooltips'
                   title='গাজা উপত্যকায় গত মঙ্গলবার থেকে শুরু হওয়া ইসরায়েলের বিমান হামলায় নিহত মানুষের সংখ্যা ১০০ ছাড়িয়েছে বলে ফিলিস্তিন কর্তৃপক্ষ জানিয়েছে। ফিলিস্তিন কর্তৃপক্ষ বলছে, নিহত মানুষের বেশির ভাগই বেসামরিক...'>গাজায়
                    নিহতের সংখ্যা ১০০ ছাড়িয়েছে</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/29' class='tooltips'
                   title='আর্সেন ওয়েঙ্গার আর আরিয়েন রোবেনের ঠোকাঠুকিটা শুরু হয়েছিল চ্যাম্পিয়নস লিগের শেষ ষোলোর প্রথম লেগেই। ২-০ গোলে হারের পর রোবেনকে ‘ডাইভার’ বলে বিদ্রূপ করেছিলেন ওয়েঙ্গার। সে সময় অবশ্য চুপই ছিলেন...'>ওয়েঙ্গারকে
                    রোবেনের জবাব</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/10' class='tooltips'
                   title='চীনের স্যাটেলাইট থেকে পাওয়া ‘সন্দেহজনক ধ্বংসাবশেষ’-এর স্থানটিতে কোনো কিছুর অস্তিত্ব খুঁজে পায়নি মালয়েশিয়া। মালয়েশিয়ার বেসামরিক বিমান চলাচল কর্তৃপক্ষের প্রধান আজহারউদ্দিন আবদুল রহমান...'>ছবির
                    সূত্র ধরেও ধ্বংসাবশেষ মিলল না</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/22' class='tooltips'
                   title='নিজেদের জন্য আলাদা অর্থনৈতিক অঞ্চল গঠনের দাবি জানিয়েছেন নারী উদ্যোক্তারা। তাঁরা বলছেন, এটি করা গেলে ক্ষুদ্র ও মাঝারি শিল্পের পাশাপাশি ভারী শিল্পকারখানা প্রতিষ্ঠায় নারীদের যুক্ত হওয়া সহজ...'>আলাদা
                    অর্থনৈতিক অঞ্চলের দাবি নারীদের</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/122' class='tooltips'
                   title='বাংলাদেশ পোলিওমুক্ত বাংলাদেশ পোলিওমুক্ত ঢাকা, ২৭ মার্চ, এবিনিউজ : বিশ্ব স্বাস্থ্য সংস্থা (ডব্লিউএইচও) বাংলাদেশসহ দক্ষিণ-পূর্ব এশিয়ার ১১টি দেশকে পোলিওমুক্ত ঘোষণা করেছে। আজ বৃহস্পতিবার ভারতের...'>বাংলাদেশ
                    পোলিওমুক্ত</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/119' class='tooltips'
                   title='ডাচদের লক্ষ্য ১৪৬ রান print ডাচদের লক্ষ্য ১৪৬ রানঢাকা, ২৭ মার্চ, এবিনিউজ : শ্রীলঙ্কার বিপক্ষে দুঃস্বপ্নের ম্যাচের খোলস থেকে বেরিয়ে এসেছে নেদারল্যান্ডস। তারা সুপার টেন পর্বের গ্রুপ ওয়ানের খেলায়...'>ডাচদের
                    লক্ষ্য ১৪৬ রান</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/136' class='tooltips'
                   title='চট্টগ্রামে ৩০ হাজার ইয়াবা উদ্ধার print চট্টগ্রামে ৩০ হাজার ইয়াবা উদ্ধারচট্টগ্রাম, ২০ মার্চ, এবিনিউজ : বৃহস্পতিবার গভীর রাতে গোপন সংবাদের ভিত্তিতে মাদকদ্রব্য নিয়ন্ত্রণ অধিদপ্তরের কর্মকর্তারা...'>চট্টগ্রামে
                    ৩০ হাজার ইয়াবা উদ্ধার</a>
            </li>
        </ul>
    </div>
    <div class="tab-pane fixed-height1" id="popular-news">
        <ul class="tooltip-demo">
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/113' class='tooltips'
                   title='বিক্ষোভ-সহিংসতায় ব্যাপক প্রাণহানির পর অবশেষে আগাম প্রেসিডেন্ট নির্বাচন দিতে রাজি হয়েছেন ইউক্রেনের প্রেসিডেন্ট ভিক্তর ইয়ানুকোভিচ। চলতি বছর শেষ হওয়ার আগেই ওই নির্বাচন হবে। গতকাল শুক্রবার...'>ইউক্রেনে
                    আগাম নির্বাচনে রাজি প্রেসিডেন্ট</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/22' class='tooltips'
                   title='নিজেদের জন্য আলাদা অর্থনৈতিক অঞ্চল গঠনের দাবি জানিয়েছেন নারী উদ্যোক্তারা। তাঁরা বলছেন, এটি করা গেলে ক্ষুদ্র ও মাঝারি শিল্পের পাশাপাশি ভারী শিল্পকারখানা প্রতিষ্ঠায় নারীদের যুক্ত হওয়া সহজ...'>আলাদা
                    অর্থনৈতিক অঞ্চলের দাবি নারীদের</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/119' class='tooltips'
                   title='ডাচদের লক্ষ্য ১৪৬ রান print ডাচদের লক্ষ্য ১৪৬ রানঢাকা, ২৭ মার্চ, এবিনিউজ : শ্রীলঙ্কার বিপক্ষে দুঃস্বপ্নের ম্যাচের খোলস থেকে বেরিয়ে এসেছে নেদারল্যান্ডস। তারা সুপার টেন পর্বের গ্রুপ ওয়ানের খেলায়...'>ডাচদের
                    লক্ষ্য ১৪৬ রান</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/10' class='tooltips'
                   title='চীনের স্যাটেলাইট থেকে পাওয়া ‘সন্দেহজনক ধ্বংসাবশেষ’-এর স্থানটিতে কোনো কিছুর অস্তিত্ব খুঁজে পায়নি মালয়েশিয়া। মালয়েশিয়ার বেসামরিক বিমান চলাচল কর্তৃপক্ষের প্রধান আজহারউদ্দিন আবদুল রহমান...'>ছবির
                    সূত্র ধরেও ধ্বংসাবশেষ মিলল না</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/111' class='tooltips'
                   title='ইতালির সাবেক প্রধানমন্ত্রী সিলভিও বেরলুসকোনির সঙ্গে তাঁর স্ত্রীর আনুষ্ঠানিক বিবাহবিচ্ছেদ হয়েছে। যৌন কেলেঙ্কারিসহ নানা কারণে বিতর্কিত এই কোটিপতি এবার তাঁর চেয়ে প্রায় ৫০ বছরের ছোট প্রেমিকাকে...'>৫০
                    বছরের ছোট প্রেমিকাকে বিয়ে করছেন বেরলুসকোনি</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/29' class='tooltips'
                   title='আর্সেন ওয়েঙ্গার আর আরিয়েন রোবেনের ঠোকাঠুকিটা শুরু হয়েছিল চ্যাম্পিয়নস লিগের শেষ ষোলোর প্রথম লেগেই। ২-০ গোলে হারের পর রোবেনকে ‘ডাইভার’ বলে বিদ্রূপ করেছিলেন ওয়েঙ্গার। সে সময় অবশ্য চুপই ছিলেন...'>ওয়েঙ্গারকে
                    রোবেনের জবাব</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/122' class='tooltips'
                   title='বাংলাদেশ পোলিওমুক্ত বাংলাদেশ পোলিওমুক্ত ঢাকা, ২৭ মার্চ, এবিনিউজ : বিশ্ব স্বাস্থ্য সংস্থা (ডব্লিউএইচও) বাংলাদেশসহ দক্ষিণ-পূর্ব এশিয়ার ১১টি দেশকে পোলিওমুক্ত ঘোষণা করেছে। আজ বৃহস্পতিবার ভারতের...'>বাংলাদেশ
                    পোলিওমুক্ত</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/56' class='tooltips'
                   title='প্রস্তুতি ম্যাচে জিম্বাবুয়েকে ৪ উইকেটে হারিয়ে চমক দেখাল হংকং। কাল চট্টগ্রামে ৭টি চার ও ১ ছক্কায় ২৮ বলে চিগুম্বুরার অপরাজিত ৪৫ রানের সুবাদে ৭ উইকেটে ১৫৩ রান করে জিম্বাবুয়ে। জবাবে হংকং ৮৯ রানেই...'>হংকংয়ের
                    চমক</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/136' class='tooltips'
                   title='চট্টগ্রামে ৩০ হাজার ইয়াবা উদ্ধার print চট্টগ্রামে ৩০ হাজার ইয়াবা উদ্ধারচট্টগ্রাম, ২০ মার্চ, এবিনিউজ : বৃহস্পতিবার গভীর রাতে গোপন সংবাদের ভিত্তিতে মাদকদ্রব্য নিয়ন্ত্রণ অধিদপ্তরের কর্মকর্তারা...'>চট্টগ্রামে
                    ৩০ হাজার ইয়াবা উদ্ধার</a>
            </li>
            <li>
                <a href='http://localhost/project_zip/bdnews/index.php/front/detail/89' class='tooltips'
                   title='কদিন আগেও ক্রিমিয়া নামটি সবার কাছে খুব বেশি পরিচিত ছিল না। ইউক্রেনের প্রত্যন্ত এ অঞ্চলটি ইতিহাসবিদদের কাছে কিছুটা পরিচিত ১৮ শতকের পঞ্চাশের দশকের একটি যুদ্ধের কারণে। কিন্তু হঠাৎ করেই এবং অপ্রত্যাশিতভাবে...'>ইউক্রেন
                    কি চলেই যাবে রাশিয়ার দখলে?</a>
            </li>
        </ul>
    </div>

    <div class="tab-pane fixed-height1" id="ajker-ukti">
        <div class="row">

            <blockquote>
                <i class="fa fa-quote-left"></i> Ajker Ukti A
                <i class="fa fa-quote-right "></i>
                <br/>
                <br/>
                <br/> --- Mr A
            </blockquote>


        </div>
    </div>
</div>
